
.form-container {
  color: #ffffff;
  padding: 80px 40px;
  
}

.form-box {
  max-width: 900px;
  margin: 0 auto;
  background-color: #1a2e3d;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form-heading {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.input-error {
  border-color: #ff4d4d;
}

.error-text {
  color: #ff4d4d;
  margin-top: 5px;
  font-size: 14px;
}

.form-button-wrapper {
  text-align: center;
}

.submit-button {
  padding: 12px 25px;
  font-size: 16px;
  background-color: #ffffff;
  color: #11222f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.preview-section {
  margin-top: 40px;
  max-width: 500px;
  margin-inline: auto;
}
